:root {
  --default_line: 1px solid rgba(119, 136, 153, 0.39);
  --fill_color: rgba(119, 136, 153, 0.07);
  --selected_color: rgba(67, 96, 125, 0.39);
  --margin-grid: 5px;
}

.restaurant-manage {
  position: fixed;
  line-height: 0;
  z-index: 200 !important;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100% - 58px);
}

.restaurant-manage .floor-map {
  height: calc(100% - 80px);
  position: absolute;
  width: 100%;
}

.restaurant-manage .floor-map .table-container-scroll {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.restaurant-manage .floor-selector .general-editor-button {
  max-width: 50px !important;
  min-width: 50px !important;
  color: var(--selected_color) !important;
}

.restaurant-manage .floor-selector .btn-default.button:not(.active):not(.general-editor-button):hover {
  background-color: var(--selected_color);
  opacity: 0.7 !important;
  color: var(--text-light) !important;
}

.restaurant-manage.editing .floor-selector .general-editor-button {
  color: var(--text-color) !important;
}

.restaurant-manage .floor-selector .general-editor-button:hover {
  border: var(--default_line);
  background-color: unset;
  color: var(--text-light) !important;
}

.restaurant-manage .floor-selector .general-editor-button.setting {
  color: var(--text-color) !important;
}

.restaurant-manage.editing .floor-selector .general-editor-button.setting {
  display: none;
}

.restaurant-manage .floor-selector .general-editor-button.add-room {
  display: none;
}

.restaurant-manage.editing .floor-selector .general-editor-button.add-room {
  display: block;
}

.sidebar-footer {
  bottom: 0;
  clear: both;
  display: block;
  left: 0;
  padding-left: 2px;
  position: fixed;
  z-index: 9999999999999 !important;
  width: 100%;
  height: 25px;
  background-color: var(--gray-900);
  color: var(--gray-300);
}

.sidebar-footer .restaurant-manage-status {
  font-size: 14px;
  padding: 0;
}

.sidebar-footer .pos-profile {
  float: right;
  color: var(--orange);
  font-size: 14px;
  /*font-weight: bold;*/
  padding: 0 5px 0 0;
}

.restaurant-manage .floor-selector {
  line-height: 48px;
  font-size: 16px;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  width: 100%;
}

.restaurant-manage .floor-map .floor-map-reserve {
  position: absolute;
  display: none;
  margin: 5px 3px 0 0;
  z-index: 100000;
  display: block;
  right: 3px;
}

.restaurant-manage.editing .floor-map .floor-map-reserve {
  display: none;
}

.restaurant-manage.editing .floor-map .floor-map-editor {
  display: block;
}

.restaurant-manage .floor-map .floor-map-editor.left {
  left: 3px;
}

.restaurant-manage .floor-map .floor-map-editor.right {
  right: 3px;
}

.restaurant-manage .floor-map .floor-map-editor {
  position: absolute;
  display: none;
  margin: 5px 3px 0 0;
  z-index: 100000;
}

.restaurant-manage .floor-map .floor-map-editor .btn {
  opacity: 0.8;
  border: var(--default_line);
}

.restaurant-manage .floor-map .floor-map-editor .edit-button {
  color: #9cc2cb;
}

.restaurant-manage .floor-map .floor-map-editor .edit-button:hover {
  color: white !important;
}

.restaurant-manage .floor-map .floor-map-editor .edit-button small {
  font-size: 14px;
  color: white;
}

.restaurant-manage .bg-yellow {
  background-color: #f39c12 !important;
}

.restaurant-manage .bg-none {
  background-color: rgba(130, 130, 129, 0.44) !important;
  color: #7f82ac;
}

.restaurant-manage .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.non-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-flat {
  border-radius: 1px !important;
}

.navbar.navbar-default.navbar-fixed-top {
  max-height: 20px !important;
}

.navbar-default .navbar-brand.navbar-home {
  display: block !important;
}
/****BUTTONS***/

/***Custom Scrollbar***/
/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 1px solid rgba(136, 136, 136, 0.336);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.336);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/***Custom Scrollbar***/

.freeze-screen-change-user {
  transition: all 0.6s ease-in;
}

/* ---------- Custom CSS ---------- */
.pad-container {
  position: relative;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-collapse: separate;
  margin-left: -2px;
}

.pad-container .pad-col.pad-btn {
  background-color: var(--fg-color);
  border-color: rgba(119, 136, 153, 0.39);
  border-width: 1px;
  border-style: ridge;
}

.pad-container .pad-col.pad-btn.btn-success {
  background-color: var(--success);
}

.pad-container .pad-col.pad-btn.btn-success:hover {
  background-color: rgba(3, 121, 49, 0.6);
}

.pad-container .pad-btn:hover {
  background-color: rgba(37, 75, 111, 0.03);
}

.pad-container .pad-col {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  box-shadow: none;
  border-radius: 3px;
}

.pad-container .pad-col.disabled {
  pointer-events: none;
  color: #a9a9a9 !important;
}

.pad-container .pad-row {
  height: 25%;
}

.pad-container .pad-col.sm {
  width: 15%;
}

.pad-container .pad-col.md {
  width: 20%;
}

.pad-container .pad-col.lg {
  text-align: left;
  width: 35%;
}

.pad-container .pad-col.text-lg {
  font-size: 25px;
}

.pad-container .pad-col span {
  font-size: 20px;
}

.pad-container .pad-label {
  background-color: transparent;
  text-align: right !important;
  padding: 0 10px 0 0;
  cursor: default;
}

.pad-container .pad-label.label-lg {
  font-size: 25px !important;
}

:root {
  --default-line: 1px solid rgba(119, 136, 153, 0.39);
  --fill-color: rgba(119, 136, 153, 0.07);
  --selected-color: rgba(119, 136, 153, 0.39);
  --margin-grid: 5px;
}

.jstmlefc65a6efc9cb8afbc85 {
  opacity: 0.4;
  pointer-events: none !important;
  cursor: not-allowed !important;
  filter: alpha(opacity=50);
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jstmlefc65a6efc9cb8afbc85-confirm {
  background-color: #ff5900 !important;
  color: #ffffff !important;
  font-weight: bold;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.pdf-container {
  background: linear-gradient(-45deg, #161e23, #414449, #1d2226, #494c4f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.desk-form .grid-delete-row,
.desk-form .grid-duplicate-row,
.desk-form .grid-move-row,
.desk-form .grid-append-row,
.desk-form .grid-insert-row,
.desk-form .grid-remove-all-rows,
.desk-form .grid-insert-row-below {
  display: none !important;
}

.custom-widget {
  margin-bottom: 10px;
}

.custom-widget .widget {
  padding: 8px;
}
